<div class="main-area">
    <div class="header">
        <div class="header__top">
            <div class="title">Listado de pacientes</div>
            <button mat-raised-button color="primary">+ Registrar paciente</button>
        </div>
        <div class="header__bottom">
            <div class="search-bar">
                <mat-form-field appearance="outline" floatLabel="never">
                    <input matInput placeholder="Buscar paciente por nombre o id...">
                    <i class="fas fa-search" matPrefix></i>
                </mat-form-field>
            </div>
            <div class="filters">

                <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <i class="fas fa-map-marker-alt" matPrefix></i>
                    <mat-select>
                        <mat-option *ngFor="let option of [1,2,3]" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nombre y apellido</mat-label>
                    <i class="fas fa-id-card" matPrefix></i>
                    <mat-select>
                        <mat-option *ngFor="let option of [1,2,3]" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Sexo del paciente</mat-label>
                    <i class="fas fa-mars" matPrefix></i>
                    <mat-select>
                        <mat-option *ngFor="let option of [1,2,3]" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Fecha de registro</mat-label>
                    <i class="fas fa-calendar-alt" matPrefix></i>
                    <mat-select>
                        <mat-option *ngFor="let option of [1,2,3]" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </div>
    <div class="top-table">
        <div class="results-label">Mostrando 1 - 20 de 100 resultados</div>
        <div class="paginator-controller">
            <div class="paginator-controller__button">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="paginator-active paginator-controller__item">1</div>
            <div class="paginator-controller__item">2</div>
            <div class="paginator-controller__item">3</div>
            <div class="paginator-controller__item">4</div>
            <div class="paginator-controller__item">...</div>
            <div class="paginator-controller__button">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
    <div class="pacients-table">
        <table mat-table [dataSource]="dataSource">
            <!-- ID Column -->
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef> <b>ID</b> </th>
              <td mat-cell *matCellDef="let pacient"> {{pacient.id}} </td>
            </ng-container>
        
            <!-- Nombre Column -->
            <ng-container matColumnDef="Nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let pacient"> {{pacient.nombres + " " + pacient.apellidos}} </td>
            </ng-container>
        
            <!-- Fecha nac. Column -->
            <ng-container matColumnDef="Fecha_nac">
              <th mat-header-cell *matHeaderCellDef> Fecha nac. </th>
              <td mat-cell *matCellDef="let pacient"> {{formatDate(pacient.fecha_nac)}} </td>
            </ng-container>
        
            <!-- Sexo Column -->
            <ng-container matColumnDef="Sexo">
              <th mat-header-cell *matHeaderCellDef> Sexo </th>
              <td mat-cell *matCellDef="let pacient"> {{pacient.sexo}} </td>
            </ng-container>

            <!-- Domicilio Column -->
            <ng-container matColumnDef="Domicilio">
                <th mat-header-cell *matHeaderCellDef> Domicilio </th>
                <td mat-cell *matCellDef="let pacient"> {{pacient.domicilio}} </td>
              </ng-container>

            <!-- Telefono 1 Column -->
            <ng-container matColumnDef="Tel_principal">
                <th mat-header-cell *matHeaderCellDef> Teléfono 1 </th>
                <td mat-cell *matCellDef="let pacient"> {{pacient.tel_principal}} </td>
              </ng-container>
            
            <!-- Correo Column -->
            <ng-container matColumnDef="Correo">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let pacient"> {{pacient.correo}} </td>
              </ng-container>

            <!-- Fecha reg. Column -->
            <ng-container matColumnDef="Fecha_reg">
                <th mat-header-cell *matHeaderCellDef> Fecha reg. </th>
                <td mat-cell *matCellDef="let pacient"> {{formatDate(pacient.fecha_reg)}} </td>
              </ng-container>
            
            <!-- Acciones column -->
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones. </th>
                <td mat-cell *matCellDef="let pacient"> 
                    <button mat-icon-button>
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
              </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
    </div>
</div>