.top-table {
    display: flex;
    flex-direction: row;
    padding: 1em 2em;
    gap: 5em;
    .results-label {
        font-weight: 600;
        font-size: 20px;
        color: #767676;
    }
}

.paginator-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    .paginator-active {
        background-color: #179C8C;
        border: none;
        color: white !important;
    }
    .paginator-controller__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 2em;
        width: 2em;
        border: 1px solid #7676767F;
        border-radius: 5px;
        // padding: 0.3em 0.7em;
        color: #767676;
        font-weight: bold;
    }
    .paginator-controller__button {
        font-size: 24px;
        color: #179C8C;
    }

    .paginator-controller__button:hover {
        cursor: pointer;
    }

    .paginator-controller__item:hover {
        cursor: pointer;
    }
    
}