.modal-background {
    transition: 1s ease-in;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #7676763f;
}

.modal-container {
    position: relative;
    background-color: white;
    padding: 2em;
    width: 50%;
    border-radius: 0.5em;

    ::ng-deep mat-tab-group {
        font-family: 'Assistant', sans-serif !important; 
    }

    ::ng-deep .mat-tab-body-active {
        overflow-y: hidden !important;
    }

    ::ng-deep .mat-tab-body-content {
        padding: 1em 0em 1em 0em;
    }

    ::ng-deep .mat-tab-label {
        font-weight: 400 !important;
        font-size: 25px !important;
    }

}

// header
.modal-header {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0 0.5em 0;
    justify-content: flex-end;

    button {
        i {
            font-size: 20px;
        color: #767676;
        }
    }
}

.modal-header__title {
    font-size: 30px;
    color: #767676;
}

// Content
.modal-content__area-title {
    font-size: 25px;
    color: #767676;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content__input__label {
    font-size: 20px;
    color: #767676;
    font-weight: 600;
}

.modal-content__area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 0em 1em 0em;
}

#button-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
        color: white;
        font-size: 20px;
        font-weight: 400;
        padding: 0.2em 1.5em;
    }
}

.period-area {
    width:100%;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-days-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em;
    padding: 0em 0em 1em 0em;
    
    button {
        font-size: 20px;
        padding: 0.3em 1em;
    }
    
    .active {
        color: white;
    }
}

.addDaySet {
    color: #179C8C;
    font-size: 20px;
}

.addDaySet:hover {
    cursor: pointer;
}

// Custom input widths
.name-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2em;
    ::ng-deep mat-form-field {
        width: 100%;
        background-color: #7676760C;
    }
}

.professional-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2em;
    ::ng-deep mat-form-field {
        width: 100%;
        background-color: #7676760C;
    }
}

.contact-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.7fr;
    width: 100%;
    gap: 2em;

    ::ng-deep mat-form-field {
        width: 100%;
        background-color: #7676760C;
    }
}

input {
    font-size: 20px;
}

select {
    font-size: 20px;
}