.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left-container {
    width: 100%;
    padding: 5em;
}

.right-container {
    width: 100%;
    padding: 5em;
    background-image: url("https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
}
