.modal-background {
    transition: 1s ease-in;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #7676763f;
}

.modal-container {
    position: relative;
    background-color: white;
    padding: 2em;
    width: 60%;
    border-radius: 0.5em;
}

// header
.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 0 0.5em 0;
    border-bottom: 2px solid #7676763f;

    button {
        i {
            font-size: 20px;
        color: #767676;
        }
    }
}

.modal-header__title {
    font-size: 30px;
    color: #767676;
}

// Content
.modal-content__area-title {
    font-size: 25px;
    color: #767676;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content__input__label {
    font-size: 20px;
    color: #767676;
    font-weight: 600;
}

.modal-content__area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 0em 1em 0em;
}

#button-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
        color: white;
        font-size: 20px;
        font-weight: 400;
        padding: 0.2em 1.5em;
    }
}

// Custom input widths
.name-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2em;
    ::ng-deep mat-form-field {
        width: 100%;
        background-color: #7676760C;
    }
}

.birth-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2em;

    ::ng-deep mat-form-field {
        width: 100%;
        background-color: #7676760C;
    }
}

.sexo-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2em;

    ::ng-deep mat-form-field {
        width: 100%;
        background-color: #7676760C;
    }
}
.address-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    width: 100%;
    gap: 2em;

    ::ng-deep mat-form-field {
        width: 100%;
        background-color: #7676760C;
    }
}

.address2-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2em;

    ::ng-deep mat-form-field {
        width: 100%;
        background-color: #7676760C;
    }
}

.contact-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2em;

    ::ng-deep mat-form-field {
        width: 100%;
        background-color: #7676760C;
    }
}

input {
    font-size: 20px;
}

select {
    font-size: 20px;
}